.navbar{
box-shadow: 0px 0px 15px rgb(164, 168, 168);
}
.navbar-brand{
    font-size: 30px;
    font-weight: bold;
}
.nav-link{
color: black;
padding-right: 30px!important;
padding-left: 30px!important;
position: relative;
overflow: hidden;
}
.nav-link::before{
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    bottom:0 ;
    left: -100%;
    background-color: black;
    transition: 0.3s;

}
.nav-link:hover{
    background-color: rgb(236, 241, 241);
    color: blue;
}
.nav-link:hover::before{
    left: 0;
}
.zpad{
    padding: 30px;
}
.z-but{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 50px;
    border-radius: 5px;
    font-size: 20px;
}
.onee{
    align-items: center;
}